/*CSS For Overall html*/
*{margin:0; 
  padding:0;
  box-sizing:border-box;}

html{scroll-behavior: smooth;}
/*CSS For Overall html end*/

/*Home*/

 /*For Background of index.html*/
.container{background-image:url(IMG-20210514-WA0025.jpg), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
  /*Img Taken By My Brother*/
           background-blend-mode:multiply;
           width:100%;
           background-position:center;
           background-size:cover;
           background-repeat:no-repeat;
           height:100vh;}
     /*Background of index.htm End*/

  /*For Navigation Menu*/
nav{display:flex;
    align-items:center;
    justify-content: space-between;
    font-family:sans-serif; 
    text-shadow:2px 2px 5px #fff;
    background-color: rgba(0,0,0,0.3);
    padding:10px 0 10px 0;}

 
.two{height:3px;
     width:22px;
     display:block;
     background-color: #000;
     transition:0.3s ease;}

#one{transform: translateY(-4px);}

#one2{transform: translateY(4px);}
    

.home{border:1px solid #fff;
      background-color:#fff;
      color:#000;
      border-radius:20px;
      padding:3px 10px;}

.home:hover{box-shadow:2px 2px 5px #fff;}

#menu1{cursor:pointer;
       display:none;}

#menu1:hover{box-shadow:2px 2px 5px #000;}

nav ul{margin-right:20px;}

 nav ul li{display:inline-block;
           list-style:none;
           font-size:20px;}

  nav ul li a{text-decoration:none;
              color:#fff;
              padding:5px 2vw;
              transition:0.3s ease;}


nav ul li a:hover{color:#e7c82f;  
                  text-shadow:5px 5px 20px  #e7c82f;}

button{margin-right:30px;
       margin-left: 10px;
       border:1px solid #fff;
       background:#fff;
       border-radius:20px;
       padding:3px 5px;
       cursor:pointer;
       font-size:18px;
       box-shadow:2px 2px 5px #fff}
/*Navigation Menu End*/

/* For Designing Center Content*/
.content{position:fixed;
         top:35%;
         left:40vw;
         transform:translate(-50%);
         z-index:2;
         word-spacing:5px;
         font-size:2vw;
}

.content h4{color:#FF0000;
            width:20%;}

.content h4:hover{text-shadow:2px 2px 5px #FF0000;}

.content h1{color:#FFE5B4;
            padding-left: 30px;
            font-size:3vw;}

.content h1:hover{text-shadow:2px 2px 5px #FFE5B4;}

.content h1 span{padding-left:100px;  
                 color:#FF0000;}

.content h2{color:#fff;
            background: #003366;
            width:25vw;}

.content h2:hover{background:#fff;
                  color:#003366;}

.effect{text-decoration:none;
        color:#0000FF;
        font-size:5vw;
        padding-left:19vw;}

.effect span{color:#FF0000;}
/*For Port*/

.effect:hover{color: #e7c82f;  
              text-shadow:5px 5px 20px  #e7c82f;}
/*Designing Center Content End*/

/*For Responsive*/
@media screen and (max-width:770px) {

nav{flex-direction: column;
    width:100%;}

#menu1{display:block;
       position:fixed;
       left:10px;
       top:15px;
       color:#fff;}

nav ul li{font-size:2.5vw;
          padding:10px;
          text-align: center;
          display:block;}

.change .two{background-color: white;}

.change #one{transform: translateY(3px) rotateZ(-45deg);}

.change #one2{transform: translateY(-3px) rotateZ(45deg);}

.change #one1{opacity:0;}

nav .list{transition:0.5s ease;
          display:none;}

.list.toggleCls{display:block;}


.content{left:43vw;
         font-size:2.5vw;}

.content h4{font-size:3.2vw;}

.content h2{width:28vw;}

.content h1{font-size:4vw;}

.effect{font-size:6vw;}


button{font-size:15px;
       position:fixed;
       right:10px;
       top:15px;} 
  }

 
@media screen and (max-width:540px) {

nav ul li{font-size:2.9vw;}

.content{font-size:2.8vw;}

.content h4{font-size:4.5vw;}

.content h2{width:37vw;
            font-size:4.7vw;}

.content h1{font-size:5.3vw;}

.effect{font-size:9vw;}

button{font-size:13px;} 
}
/*Responsive End*/
/*Home End*/

/*Contact*/

/*Background of (contact,CV,portfolio).html*/
.container1{background-image:url(IMG-20210514-WA0025.jpg), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
   /*Img Taken By My Brother*/
            background-blend-mode:multiply;
            width:100%;
            background-position:center;
            background-size:cover;
            position:relative;
            background-repeat:no-repeat;}
 /*Background of (contact,CV,portfolio).html End*/    

/*For Navbar Contact Menu Button Design*/
.contact{border:1px solid #fff;
         background-color:#fff;
         color:#000;
         border-radius:20px;
         padding:3px 10px;}

.contact:hover{box-shadow:2px 2px 5px #fff;}
/* Navbar Contact Menu Button Design End*/

/*For Designing Center items*/
.main1{display:flex;
       justify-content:center;
       align-items:center;
       margin:30px auto;}

.icon1{width:35px;
      cursor:pointer;
      margin-right:20px;
      border:1px solid #fff;
      background-color:#fff;
      border-radius:100%;
      padding:3px;
      box-shadow:2px 2px 5px #fff;}

.items1{display:flex;
        margin-bottom:35px;}

.contact1{color:#fbfcfd;
         font-size:19px;
         margin-right:250px;}

.head span{color:#fff;
           font-size:27px;}

.contact2{background-color:rgba(0,0,0,0.3);
          padding:0 80px 30px 80px;
          color:#fff;
          transition:0.3s ease;}

 .contact2:hover{transform:translateY(-20px);
                 box-shadow:10px 10px 10px rgba(0,0,0,0.6);} 

.contact2 h1{margin:30px;}

form{font-size:17px;}

#submit{border:1px solid #FFE5B4;
        background-color:#FFE5B4;
        padding:5px 10px;
        border-radius:20px;
        cursor:pointer;
        margin-left:50px;}

#submit:hover{box-shadow:2px 2px 5px #FFE5B4;}

#name{width:100%;}
/*Designing Center items End*/

/*For Responsive*/
@media screen and (max-width:960px){

.main1{flex-direction:column;}

.icon1{width:30px;}

.contact1{margin:20px 0px 50px 0px;
              font-size:16px;}

.head span{font-size:22px;}

}

@media screen and (max-width:540px){

  .icon1{width:27px;}

 .contact1{font-size:13px;}

.head span{font-size:16px;}

.contact2{padding:0 70px 30px 70px;}

.contact2 h1{font-size:24px;}

form{font-size:12px;}

#submit{padding:4px 8px;
        font-size:12px;}
}
/*Responsive End*/
/*Contact End*/

/*CV*/

/*For Navbar CV Menu Button Design*/
.CV{border:1px solid #fff;
    background-color:#fff;
    color:#000;
    border-radius:20px;
    padding:3px 10px;}

.CV:hover{box-shadow:2px 2px 5px #fff;}
/*Navbar CV Menu Button Design End*/

/*For Designing Center items */
.main2{display:flex;
      justify-content:center;
      flex-direction:column;
      align-items:center;}

.left-content{display:flex;
              flex-direction:column;
              width:300px;
              text-align:center;
              border:1px solid #FF0000;
              background-color:#fff;
              border-radius:20px;
              z-index:0;
              transition:0.1s ease-in-out;
              margin-top:25px;}

  .left-content:hover{transform:scale(1.03);
                      z-index:1;
                      box-shadow:10px 10px 10px rgba(0,0,0,0.6);}            

.img-and-text{width:100%;
              height:250px;
              border:1px solid #fff;
              border-radius:20px;
              color:#DC143C;}

.img1{width:100%;
      height:220px;
      border:1px solid #fff;
      border-radius: 20px;}

.left-content1{display:flex;
              flex-direction:column;
              width:300px;
              border:1px solid rgba(0,0,0,0.5);
              background-color:rgba(0,0,0,0.5);
              border-radius:20px;
              margin-top:25px;
              height:500px;
              z-index:0;
              transition:0.1s ease-in-out;
              margin-bottom:10px;}

.left-content1:hover{transform:scale(1.03);
                    z-index:1;
                    box-shadow:10px 10px 10px rgba(0,0,0,0.6);}               

.left-content1  h3{margin:20px;
                  text-align:center;
                  color:#fff;
                  text-align:center;}       


.items2{display:flex;
        margin-bottom:15px;}

.icon2{width:25px;
      cursor:pointer;
      margin:0px 15px;
      border:1px solid #fff;
      background-color:#fff;
      border-radius:50%;
      padding:3px;
      box-shadow:2px 2px 5px #fff;}

 .head1{font-size:15px;
        color:#fff;}     

.head1 span{color:#fff;
            font-size:18px;}

.skill{display:flex;} 
  
  .icon3{width:55px;
         cursor:pointer;
         margin:10px 15px 0px 30px;
         height:40px;}           

  .skill h3{margin:20px;
            text-align:center;
            color:#fff;}   

  .percent{color:#fff;} /*For showing skill percentage start*/                  

.percent li{list-style:none;
            margin:20px;}

 .inside{height:9px;
         border:1px solid #FFE5B4;
         background:#FFE5B4;
         border-radius:20px;}           

.outside{margin-top:5px;
         height:10px;
         border:1px solid #fff;
         border-radius:20px;}

.p-35{width:35%;}

.p-30{width:30%;}

.p-70{width:70%;}/*For showing skill percentage end*/ 
/*Code Brain(2020)Building a resume using only HTML & CSS[online].Available from:https://www.youtube.com/watch?v=y6ONWaTstUU&t=1711s[Accessed 24 May 2021]*/

.container2{display:flex;
            justify-content:center;
            align-items:center;
            margin-top: 15px;}

.right-content{display:flex;
              flex-direction:column;
              width:300px;
              border:1px solid #FF0000;
              background-color:#fff;
              border-radius:20px;
              margin:25px 0px 15px 30px;
              z-index:0;
              transition:0.1s ease-in-out;
              height:775px;}

   .right-content:hover{transform:scale(1.03);
                        z-index:1;
                        box-shadow:10px 10px 10px rgba(0,0,0,0.6);}             

.icon4{width:55px;
      cursor:pointer;
      margin:10px 10px 0px 30px;
      height:40px;}

.education{display:flex;
           text-align:center;}

.education h2{margin:15px;
            text-align:center;}

  .education h2 span{color:#DC143C;}          

.detail{margin:10px;}

.parts h4{color:#e7c82f;}

.parts{padding-bottom:10px;
       line-height:20px;}

.experience{text-align:center;
            margin:30px;}

.experience h2 span{color:#DC143C;}

strong{font-size:30px;}

.interest h2{text-align:center;
             margin-bottom:15px;}

.interest h2 span{color:#DC143C;}

.book{display:flex;
      align-items:center;}

.icon5{width:65px;
      cursor:pointer;
      margin:10px 15px 0px 20px;
      border:1px solid #000;
      border-radius:10px;
      padding:10px;
      height:50px;}
/*Designing Center items End*/

/*For Responsive*/

 @media screen and (max-width:660px){

  .container2{flex-direction:column;}

  .right-content{ margin:10px 0px 15px 10px;}

 }   
/*Responsive End*/
/*CV End*/

/*Portfolio*/

/*For Navbar Contact Menu Button Design*/
.portfolio{border:1px solid #fff;
          background-color:#fff;
          color:#000;
          border-radius:20px;
          padding:3px 10px;}

.portfolio:hover{box-shadow:2px 2px 5px #fff;}
/*Navbar Contact Menu Button Design End*/

/*For Heading Part*/
.top{text-align:center;
     margin:20px;}

.top h2{color:#fff;}
 
.top h1{color:#FF0000;}

.top h1 span{color:#000;}
/*Heading Part End*/

/*For Center Part*/

.main-container{display:flex;
                justify-content:center;
                align-items:center;
                margin:30px;}

.img-container{display:flex;}

 .group{display:flex;
        flex-direction:column;}             

.content1{margin:20px;
          width:240px;
          background-color:#FFE5B4;
          border:1px solid #FFE5B4;
          box-shadow: 10px 10px rgba(0,0,0,0.3);
          border-radius:10px;
          transition:0.3s ease;
          display:block;}

 .content1:hover{transform:translateY(-25px);
                 box-shadow:10px 10px 10px rgba(0,0,0,0.6);}                       

.img{width:100%;
      border:1px solid #FFE5B4;
      border-radius:10px;
      height:170px;}    

 .content1 h4{padding-left:5px;}         
 
.content1 h2{text-align:center;
             padding-bottom:6px;}

  .content1 p{text-align:center;
              padding:6px;
              font-size:18px} 
/*Center Part End*/

/*For Responsive*/
@media screen and (max-width:1120px){

  .main-container{flex-direction:column;}
  
.top h2{font-size:22px;}

.top h1{font-size:27px;}

  .img-container{flex-wrap:wrap;}

  .content1{width:250px;}

  .content1 h4{font-size:13px;}

  .content1 h2{font-size:25px;}    

   .content1 p{font-size:16px;}
}   

@media screen and (max-width:650px){

.top h2{font-size:20px;}

.top h1{font-size:24px;}

  .img-container{flex-direction:column;}

  .content1{width:270px;}

  .content1 h4{font-size:11px;}

  .content1 h2{font-size:20px;}    

   .content1 p{font-size:15px;}
}   
/*Responsive End*/
/*Portfolio End*/





