/*CSS For Overall html*/
*{margin:0; 
  padding:0;
  box-sizing:border-box;}

html{scroll-behavior:smooth;}
/*CSS For Overall html end*/

/*Home*/
/*For Background of index.html*/
.container{background-image:url(IMG-20210514-WA0025.jpg), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
          /*Img Taken By My Brother*/
           background-blend-mode:multiply;
           width:100%;
           background-position:center;
           background-size:cover;
           background-repeat:no-repeat;
           height:100vh;}

/*For Navigation Menu*/
nav{display:flex;
    align-items:center;
    justify-content:space-between;
    font-family:sans-serif; 
    background-color:#aaa9ad;
    position:fixed;
    top:0;
    left:0;
    right:0;
    padding:10px 0;
    text-shadow:1px 1px 1px #000; 
    z-index:1;}

nav label{cursor:pointer;   
          display:none;
          border:1px solid #000;
          border-radius:5px;
          padding:7px;
          background-color:#DDDDDA;
          position:fixed;
          left:10px;
          margin-top:-12px;}            

nav label:hover{box-shadow:2px 2px 5px #000;}

/*For making Hamburger icon*/
#ham_menu{display:none;}

.one{height:3px;
     width:22px;
     display:block;
     background-color:#000;
     transition:0.3s ease;}

.two{transform:translateY(-3px);}

.four{transform:translateY(3px);}
/*Making Hamburger icon End*/
 
 /*For designing navigation menu Home page link*/
.home{border:1px solid #fff;
      background-color:#fff;
      color:#000;
      border-radius:20px;
      padding:3px 10px;
      text-shadow:1px 1px 1px #fff;}

.home:hover{box-shadow:2px 2px 5px #fff;}
/*Designing navigation menu Home page link End*/

nav ul{margin-right:20px;}

nav ul li{display:inline-block;
          list-style:none;
          font-size:20px;}
         
nav ul li a{text-decoration:none;
            color:#fff;
            padding:5px 2vw;
            transition:0.3s ease;}

nav ul li a:hover{color:#e7c82f;  
                  text-shadow:5px 5px 20px #e7c82f;}

/*For About Me Button*/
button{margin:auto 20px;
       border:1px solid #fff;
       background:#fff;
       border-radius:20px;
       padding:3px 5px;
       cursor:pointer;
       font-size:18px;
       box-shadow:2px 2px 5px #fff;}
/*Navigation Menu End*/

/*For designing the Introduction part written in the middle of the Home page*/
.content{position:fixed;
         top:38%;
         left:26vw;
         word-spacing:5px;
         font-size:2vw;}

.content h4{color:#F96167;
            width:20%;
            text-shadow:1px 1px 1px #FCE77D, 2px 2px 3px #4A171E;}

.content h1{color:#FFE5B4;
            padding-left:30px;
            font-size:3vw;
            text-shadow:1px 1px 2px #FFE5B4, 1px 1px 2px #F70025;}

.content h1 span{padding-left:100px;  
                 color:#F70025;
                 text-shadow:1px 1px 2px #FFE5B4, 1px 1px 2px #4A171E;}

/*For the floating and color-changing hover effect applied to "And This Is My"*/
.content h2{background-color:#FEE715FF;
            color:#101820FF;
            width:22.3vw;
            transition:0.3s ease;}

.content h2:hover{color:#FEE715FF;
                  background-color:#101820FF;
                  transform:scale(1.03);
                  box-shadow:10px 10px 10px rgba(0,0,0,0.6);}
/*Floating and color-changing hover effect applied to "And This Is My" End*/                  

/*For Designing Portfolio text*/
.effect{text-decoration:none;
        color:#EC4D37;
        font-size:5vw;
        padding-left:19vw;
        text-shadow:2px 2px 3px #1D1B1B, 2px 2px 3px #4A171E;
        animation:textA 1s ease infinite;}

@keyframes textA{

  0%{color:#EC4D37;
     text-shadow:2px 2px 3px #1D1B1B, 2px 2px 3px #4A171E;}

  50%{color:#1D1B1B;
      text-shadow:2px 2px 3px #EC4D37, 2px 2px 3px #4A171E;}

  100%{color:#EC4D37;
       text-shadow:2px 2px 3px #1D1B1B, 2px 2px 3px #4A171E;}              
}
/*color-changing Animation For Folio*/

.effect span{color:#1D1B1B;
             text-shadow:2px 2px 3px #EC4D37, 2px 2px 3px #4A171E;
             animation:textB 1s ease infinite;}

@keyframes textB{

  0%{color:#1D1B1B;
     text-shadow:2px 2px 3px #EC4D37, 2px 2px 3px #4A171E;}

  50%{color:#EC4D37;
      text-shadow:2px 2px 3px #1D1B1B, 2px 2px 3px #4A171E;} 

  100%{color:#1D1B1B;
       text-shadow:2px 2px 3px #EC4D37, 2px 2px 3px #4A171E;}              
}                     
/*color-changing Animation For Port*/
/*Designing the Introduction part written in the middle of the page End*/

/*For Responsive Design*/
@media screen and (max-width:770px){

nav{flex-direction:column;
    width:100%;
    padding:18px 0px;}

nav ul li{font-size:2.5vw;
          padding:10px;
          text-align: center;
          display:block;}

nav label{display:block;}

/*toggling of navigation menu*/
.list{display:none;}
 
#ham_menu:checked ~ .list{display:block;}
/*toggling of navigation menu End*/

.content{left:26vw;
         font-size:2.5vw;}

.content h4{font-size:3.2vw;}

.content h2{width:28vw;}

.content h1{font-size:4vw;}

.effect{font-size:6vw;}

button{font-size:15px;
       position:fixed;
       right:0px;
       margin-top:-12px;} 
}

@media screen and (max-width:540px){

nav ul li{font-size:3.2vw;}

.one{width:19px;}

.content{font-size:2.8vw;
         left:16vw;}

.content h4{font-size:4.5vw;}

.content h2{width:37vw;
            font-size:4.7vw;}

.content h1{font-size:5.3vw;}

.effect{font-size:9vw;}

button{font-size:13px;
       margin-top:-11px;} 
}

@media screen and (max-width:330px){

nav ul li{font-size:3.7vw;}

.one{width:15px;}

button{font-size:12px;
       padding:2px 4px;
       margin-top:-10px;}

.content h1 span{padding-left:70px;}        
}
/*Responsive Design End*/
/*Home End*/

/*Contact*/

/*Background of (contact,CV,portfolio,sitereport).html*/
.container1{background-image:url(IMG-20210514-WA0025.jpg), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
/*Img Taken By My Brother*/
            background-blend-mode:multiply;
            width:100%;
            background-position:center;
            background-size:cover;
            position:relative;
            background-repeat:no-repeat;}
    
/*For designing navigation menu Contact page link*/
.contact{border:1px solid #fff;
         background-color:#fff;
         color:#000;
         border-radius:20px;
         padding:3px 10px;
         text-shadow:1px 1px 1px #fff;}

.contact:hover{box-shadow:2px 2px 5px #fff;}
/*Designing navigation menu Contact page link End*/

/*For Designing Center Contents*/
.main1{display:grid;
       justify-content:center;
       align-items:center;
       margin:100px auto 30px;
       grid-template-columns:auto auto;}

/*For Designing My address, and contact details*/
.icon1{width:35px;/*For location, email, and phone icons*/
       cursor:pointer;
       margin-right:20px;
       border:1px solid #fff;
       background-color:#fff;
       height:35px;
       border-radius:100%;
       padding:3px;
       box-shadow:2px 2px 5px #fff;}

.items1{display:flex;
        margin-bottom:35px;}

.contact1{color:#FFF;
          font-size:19px;
          margin-right:250px;}

.info span{color:#Afff;
           font-size:27px;}           

/*For Designing Form*/
.contact2{background-color:rgba(0,0,0,0.8);
          padding:0 80px 30px 80px;
          color:#fff;
          transition:0.3s ease;
          border-radius:10px;}

/*For the floating hover effect applied on the Form*/
.contact2:hover{transform:translateY(-20px);
                box-shadow:10px 10px 10px rgba(0,0,0,0.6);} 

.contact2 h1{margin:30px;}

form{font-size:17px;}

#submit{border:1px solid #FFE5B4;/*For Submit Button*/
        background-color:#FFE5B4;
        padding:5px 10px;
        border-radius:20px;
        cursor:pointer;
        margin-left:50px;}

/*For the glowing hover effect applied on the Submit Button*/
#submit:hover{box-shadow:2px 2px 5px #FFE5B4;}

.name{width:100%;}
/*Designing Center Contents End*/

/*For Responsive Design*/
@media screen and (max-width:960px){

.main1{grid-template-columns:auto;}

.icon1{width:30px;
       height:30px;}

.contact1{margin:20px auto 50px;
          font-size:16px;}

.info span{font-size:22px;}
}

@media screen and (max-width:540px){

.icon1{width:27px;
       height:27px;}

.contact1{font-size:13px;}

.info span{font-size:16px;}

.contact2{padding:0 70px 30px 70px;}

.contact2 h1{font-size:24px;}

form{font-size:12px;}

#submit{padding:4px 8px;
        font-size:12px;}
}

@media screen and (max-width:330px){

.icon1{width:25px;
       height:25px;}

.contact1{font-size:12px;}

.info span{font-size:12px;}

.contact2{padding:0 50px 30px 50px;}

.contact2 h1{font-size:21px;}

form{font-size:12px;}

#submit{padding:4px 7px;
        font-size:11px;}
}
/*Responsive Design End*/
/*Contact End*/

/*CV*/

/*For designing navigation menu CV page link*/
.CV{border:1px solid #fff;
    background-color:#fff;
    color:#000;
    border-radius:20px;
    padding:3px 10px;
    text-shadow:1px 1px 1px #fff;}

.CV:hover{box-shadow:2px 2px 5px #fff;}
/*Designing navigation menu CV page link End*/

/*For Designing Center Contents*/
.top1{text-align:center;/*For Heading part*/
      margin:80px 20px 20px;}

.top1 h1{color:#000;
         text-shadow:2px 2px 2px #ff6600, 2px -2px 2px #d8d8d8, 2px -2px 2px #d8d8d8;}/*Heading part End*/  

.main2{display:grid;
       grid-template-columns:auto auto;
       grid-template-rows:auto auto;
       justify-content: center;
       align-content:center;
       margin:10px auto;}

/*For Designing the box containing my Resume picture and Name*/
.left-content{display:flex;
              flex-direction:column;
              width:300px;
              text-align:center;
              border:1px solid #FF0000;
              background-color:#fff;
              border-radius:20px;
              transition:0.1s ease-in-out;
              margin-top:25px;
              height:250px;
              color:#DC143C;}

/*For the Card Hover effect applied in the box*/
.left-content:hover{transform:scale(1.03);
                    box-shadow:10px 10px 10px rgba(0,0,0,0.6), 2px 2px 2px #fff;}            

.img1{width:100%;
      height:220px;
      border:1px solid #fff;
      border-radius: 20px;}
/*Designing the box containing my Resume picture and Name End*/      

/*For designing the box containing my address, contact details and skills*/
.left-content1{display:flex;
               flex-direction:column;
               width:300px;
               border:1px solid rgba(0,0,0,0.5);
               background-color:rgba(0,0,0,0.8);
               border-radius:20px;
               margin:20px auto 10px;
               height:500px;
               transition:0.1s ease-in-out;}

/*For the Card Hover effect applied in the box*/
.left-content1:hover{transform:scale(1.03);
                     box-shadow:10px 10px 10px rgba(0,0,0,0.6);}               

/*For Contact part*/
.left-content1  h3{margin:20px;
                   text-align:center;
                   color:#fff;}       

.items2{display:flex;
        margin-bottom:15px;}

.icon2{width:25px;/*For location, email, and phone icons*/
	     height:25px;
       cursor:pointer;
       margin:0px 15px;
       border:1px solid #fff;
       background-color:#fff;
       border-radius:50%;
       padding:3px;
       box-shadow:2px 2px 5px #fff;}

.head1{font-size:15px;
       color:#fff;}     

.head1 span{color:#Afff;
            font-size:18px;}

/*For Skills part*/
.skill{display:flex;} 
  
.icon3{width:55px;/*For skill icon*/
       cursor:pointer;
       margin:10px 15px 0px 30px;
       height:40px;}           

.skill h3{margin:20px;
          text-align:center;
          color:#fff;}   

.percent{color:#fff;}/*For showing skill percentage*/                  

.percent li{list-style:none;
            margin:20px;}

.inside{height:9px;
        border:1px solid #FFE5B4;
        background:#FFE5B4;
        border-radius:20px;}           

.outside{margin-top:5px;
         height:10px;
         border:1px solid #fff;
         border-radius:20px;}

.p-35{width:35%;}

.p-30{width:30%;}

.p-70{width:70%;}/*Showing skill percentage End*/
/*(Code Brain, 2020)*/ 
/*Designing the box containing my address, contact details and skills End*/

/*For designing the box containing my education, experience, interests and social media accounts details*/
.right-content{display:flex;
               flex-direction:column;
               width:300px;
               border:1px solid #FF0000;
               background-color:#fff;
               border-radius:20px;
               margin:25px 0px 15px 25px;
               transition:0.1s ease-in-out;
               height:775px;
               grid-row: 1 / span 2;
               grid-column:2;}

/*For the Card Hover effect applied in the box*/
.right-content:hover{transform:scale(1.03);
                     box-shadow:10px 10px 10px rgba(0,0,0,0.6), 2px 2px 2px #fff;}             

/*For Education part*/
.education{display:flex;
           text-align:center;}

.icon4{width:55px;/*For graduated icon*/
       cursor:pointer;
       margin:10px 10px 0px 30px;
       height:40px;}           

.education h2{margin:15px;
              text-align:center;}

.education h2 span{color:#DC143C;}          

.detail{margin:10px;}

.parts h4{color:#e7c82f;}

.parts{padding-bottom:10px;
       line-height:20px;}
       
/*For Experience part*/
.experience{text-align:center;
            margin:30px;}

.experience h2 span{color:#DC143C;}

.experience strong{font-size:30px;}

/*For Interest part*/
.interest h2{text-align:center;
             margin-bottom:15px;}

.interest h2 span{color:#DC143C;}

.book{display:flex;
      align-items:center;}

.icon5{width:65px;/*For book, music, and cinema icons*/
       cursor:pointer;
       background-color:  rgb(255,229,180,0.7);
       margin:10px 15px 0px 20px;
       border:1px solid #000;
       border-radius:10px;
       padding:10px;
       height:50px;}      

/*For Social part*/
.social{text-align:center;}

.social h2{margin:10px;
           text-align:center;}

.social h2 span{color:#DC143C;} 

.social-icon{display:flex;
             justify-content:center;
             align-items:center;}

.icon6{width:60px;/*For facebook, instagram and twitter icon*/
       cursor:pointer;
       padding-right:20px;
       height:45px;}                   
/*Designing Center Content End*/

/*For Responsive Design*/
 @media screen and (max-width:665px){

.top1{margin:70px 20px 10px;}  

.main2{grid-template-columns:auto;
       grid-template-rows:auto auto auto;}

.left-content{margin-top:20px;}       
   
.right-content{grid-row:3;
               grid-column:1;
               margin:10px 0px 15px;}

.top1 h1{font-size:24px;}
} 

@media screen and (max-width:310px){ 

.top1 h1{font-size:19px;}

.left-content{width:260px;
              height:220px;}

.left-content h3{font-size:15px;}             

.img1{height:200px;}             

.left-content1{width:260px;
               height:430px;} 

.left-content1 h3{font-size:15px;}

.percent{margin-top:-20px;
         font-size:14px;}       

.head1{font-size:13px;}     

.head1 span{font-size:15px;}

.icon3{width:45px;
       height:30px;
       margin:10px 10px 0px 35px;}           

/*For showing skill percentage*/                  
.inside{height:8px;}           

.outside{height:9px;}
/*For showing skill percentage End*/
/*(Code Brain, 2020)*/                         
   
.right-content{width:260px;
               height:700px;}

.icon4{width:40px;
       height:35px;}               

.icon5{width:50px;
       margin:8px 15px 0px 20px;
       padding:8px;
       height:40px;}

.education h2{font-size:18px;}

.parts{font-size:14px;}

.parts h4{font-size:16px;}

.experience h2{font-size:18px;}

.experience{margin:20px;}

.interest h2{font-size:18px;}

.social h2{font-size:18px;}

.icon6{width:50px;
       height:35px;}     
}  
/*Responsive Design End*/
/*CV End*/

/*Portfolio*/

/*For designing navigation menu Portfolio page link*/
.portfolio{border:1px solid #fff;
           background-color:#fff;
           color:#000;
           border-radius:20px;
           padding:3px 10px;
           text-shadow:1px 1px 1px #fff;}

.portfolio:hover{box-shadow:2px 2px 5px #fff;}
/*Designing navigation menu Portfolio page link End*/

/*For Designing Heading Part*/
.top{text-align:center;
     margin:80px 20px 20px;}

.top h2{color:#fff;
        text-shadow:3px 0 0 #ff0000, -2px -3px 0 #008000, 2px 3px 0 #0000ff;
        animation:shadow 2s linear infinite;}

@keyframes shadow{
  0%{text-shadow:3px 0 0 #ff0000, -2px -3px 0 #008000, 2px 3px 0 #0000ff;}

  25%{text-shadow:3px 0 0 #008000, -2px -3px 0 #ff0000, 2px 3px 0 #0000ff;}

  50%{text-shadow:3px 0 0 #008000, -2px -3px 0 #0000ff, 2px 3px 0 #ff0000;}

  75%{text-shadow:3px 0 0 #0000ff, -2px -3px 0 #ff0000, 2px 3px 0 #008000;}

  100%{text-shadow:3px 0 0 #ff0000, -2px -3px 0 #008000, 2px 3px 0 #0000ff;}
}
/*3D color-changing animation for "welcome to my"*/              

.top h1{color:#FF0000;
        text-shadow:1px 1px 2px #000, 1px 1px 2px #000, 1px 1px 2px #000;}
/*3D text shadow for folio*/        

.top h1 span{color:#000;
             text-shadow:1px 1px 2px #FF0000, 1px 1px 2px #F70025, 1px 1px 2px #000;}
/*3D text shadow for Port*/                               
/*Designing Heading Part End*/

/*For Designing placeholder images*/
.img-container{display:grid;
               grid-template-columns: auto auto auto;
               grid-gap:55px;
               justify-content: center;
               align-content: center;
               margin:50px auto;}

.content1{width:240px;
          background-color:#FFE5B4;
          border:1px solid #FFE5B4;
          box-shadow: 10px 10px rgba(0,0,0,0.3);
          border-radius:10px;
          transition:0.3s ease;
          display:block;}

.content1:hover{transform:translateY(-25px);/*For the Card Hover effect applied in all the placeholder images*/
                box-shadow:10px 10px 10px rgba(0,0,0,0.6), 2px 2px 2px #fff;}                       

.img{width:100%;/*For computer icon*/
     border:1px solid #FFE5B4;
     border-radius:10px;
     height:170px;}    

.content1 h4{padding-left:5px;}         
 
.content1 h2{text-align:center;
             padding-bottom:6px;}

.content1 p{text-align:center;
            padding:6px;
            font-size:18px} 
/*Designing placeholder images End*/

/*For Responsive Design*/
@media screen and (max-width:850px){

.img-container{grid-template-columns:auto auto;}
  
.top h2{font-size:22px;}

.top h1{font-size:27px;}

.content1{width:250px;}

.content1 h4{font-size:13px;}

.content1 h2{font-size:25px;}    

.content1 p{font-size:16px;}
}   

@media screen and (max-width:580px){

.img-container{grid-template-columns:auto;
               grid-gap:45px;}  

.top h2{font-size:20px;}

.top h1{font-size:24px;}

.content1{width:240px;}

.content1 h4{font-size:11px;}

.content1 h2{font-size:20px;}    

.content1 p{font-size:15px;}
}

@media screen and (max-width:300px){

.top h2{font-size:18px;}

.top h1{font-size:20px;}

.img-container{margin:40px auto;}

.content1{width:210px;}

.img{height:150px;}    
      
.content1 h2{font-size:18px;}
}   
/*Responsive Design End*/
/*Portfolio End*/

/*Sitereport Start*/
/*For designing navigation menu Sitereport page link button*/
.sitereport{border:1px solid #fff;
            background-color:#fff;
            color:#000;
            border-radius:20px;
            padding:3px 10px;
            text-shadow:1px 1px 1px #fff;}

.sitereport:hover{box-shadow:2px 2px 5px #fff;}
/*Designing navigation menu Sitereport page link button End*/

/*For Designing Center content*/
.report{margin:80px 10px 20px;}

.report h1{text-align:center;
           color:#f3ca20;
           margin-top:20px;
           text-shadow:1px 1px 1px #fff, 1px 1px 2px #d2601a, 1px 1px 2px #FF0000;}

.report h3{margin:15px;
           color:#FF3EA5FF;
           text-shadow:1px 1px 2px #000;}                 

.report p{margin:15px;
          font-size:20px;
          color:#fff;
          text-shadow:1px 1px 2px #000;}

.report h2{margin:15px;
           color:#f95700ff;
           text-shadow:1px 1px 1px #ffd79d, 1px 1px 2px #000, 1px 1px 2px #000;}
           
/*For position-changing animation in first four photos of sitereport page*/
/*This grid is used to place two or four images with a width of 350px*/
.grid-img{display:grid;
          grid-template-columns:auto auto;
          justify-content:center;
          align-content:center;}

.img6{grid-row:1;
      grid-column:1;
      animation:img6 4s linear infinite;}

@keyframes img6{
  0%{grid-row:1;
      grid-column:1;}

  25%{grid-row:1;
      grid-column:2;}

  50%{grid-row:2;
      grid-column:2;}

  75%{grid-row:2;
      grid-column:1;}

  100%{grid-row:1;
       grid-column:1;}
}

.img7{grid-row:1;
      grid-column:2;
      animation:img7 4s linear infinite;}

@keyframes img7{ 
  0%{grid-row:1;
     grid-column:2;}

  25%{grid-row:2;
      grid-column:2;}

  50%{grid-row:2;
      grid-column:1;}

  75%{grid-row:1;
      grid-column:1;}

  100%{grid-row:1;
      grid-column:2;}
}

.img8{grid-row:2;
      grid-column:2;
      animation:img8 4s linear infinite;}

@keyframes img8{
  0%{grid-row:2;
     grid-column:2;}

  25%{grid-row:2;
      grid-column:1;}

  50%{grid-row:1;
      grid-column:1;}

  75%{grid-row:1;
      grid-column:2;}

  100%{grid-row:2;
       grid-column:2;}
} 

.img9{grid-row:2;
      grid-column:1;
      animation:img9 4s linear infinite;}

@keyframes img9{
  0%{grid-row:2;
     grid-column:1;}

  25%{grid-row:1;
      grid-column:1;}

  50%{grid-row:1;
      grid-column:2;}

  75%{grid-row:2;
      grid-column:2;}

  100%{grid-row:2;
       grid-column:1;}
}
/*Position-changing animation in first four photos of sitereport page End*/

/*This grid is used to place two images with a width of 450px*/
.grid-img1{display:grid;
           grid-template-columns:auto auto;
           justify-content:center;
           align-content:center;}

.img-text{text-align:center;}

/*This grid is used to place only one image of any width*/
.grid-img2{display:grid;
           grid-template-columns:auto;
           justify-content:center;
           align-items:center;}

/*This grid is used to place three icons in one row*/
.grid-img3{display:grid;
           grid-template-columns:auto auto auto;
           justify-content:center;
           align-content:center;}

/*This grid is used to place two icons in one row*/
.grid-img4{display:grid;
           grid-template-columns:auto auto;
           justify-content:center;
           align-content:center;}           

.icon-reference{display:flex;/*To keep icon and reference*/
                flex-direction:column;
                justify-content:center;
                align-items:center;} 

/*For the images with a width of 350px*/
.img2{width:350px;
      border:3px solid #e7c82f;
      border-radius:10px;
      height:230px;
      margin:20px;
      box-shadow: 10px 10px rgba(0,0,0,0.3);
      transition:0.3s ease;}

/*For the images with a width of 450px*/
.img3{width:450px;
      border:3px solid #e7c82f;
      border-radius:10px;
      height:300px;
      margin:30px 20px 20px 20px;
      box-shadow:10px 10px rgba(0,0,0,0.3);
      transition:0.3s ease;}

.report span{color:#fff5ab;
             text-shadow:1px 1px 2px #000, 1px 1px 2px #000}

.report b{color:#ffcead;
          text-shadow:1px 1px 2px #000, 1px 1px 2px #000;} 

.report a{text-decoration:none;
          color:#F7A440;
          text-shadow:1px 1px 2px #000, 1px 1px 2px #000;} 

/*For the computer icon*/
.img4{background-color:#FFE5B4;
      width:170px;
      border:3px solid #e7c82f;
      border-radius:10px;
      height:130px;
      margin:30px 20px 20px 20px;
      box-shadow: 10px 10px rgba(0,0,0,0.3);
      transition:0.3s ease;}

.img4:hover{transform:translateY(-25px);/*For the card hover effect on computer icon*/
            box-shadow:10px 10px 10px rgba(0,0,0,0.6), 2px 2px 2px #fff;}                 

/*For all other icons*/
.img5{background-color:#FFF;
      width:170px;
      border:3px solid #e7c82f;
      border-radius:10px;
      height:130px;
      margin:10px 20px 8px 20px;
      box-shadow: 10px 10px rgba(0,0,0,0.3);
      transition:0.3s ease;} 

.img5:hover{transform:translateY(-25px);/*For the card hover effect on all other icons*/
            box-shadow:10px 10px 10px rgba(0,0,0,0.6), 2px 2px 2px #fff;}      
/*Designing Center content End*/                                           

/*For Responsive Design of sitereport page*/
@media screen and (max-width:1020px){

.grid-img1{grid-template-columns:auto;}

.grid-img3{ grid-template-columns:auto auto;}
}

@media screen and (max-width:770px){

.report h1{font-size:25px;}

/*For position-changing animation in first four photos of sitereport page*/
.grid-img{grid-template-columns:auto;}

.img6{grid-row:1;
      grid-column:1;}

@keyframes img6{
  0%{grid-row:1;
      grid-column:1;}

  25%{grid-row:2;
      grid-column:1;}

  50%{grid-row:3;
      grid-column:1;}

  75%{grid-row:4;
      grid-column:1;}

  100%{grid-row:1;
      grid-column:1;}
}

.img7{grid-row:2;
      grid-column:1;}

@keyframes img7{
  0%{grid-row:2;
      grid-column:1;}

  25%{grid-row:3;
      grid-column:1;}

  50%{grid-row:4;
      grid-column:1;}

  75%{grid-row:1;
      grid-column:1;}

  100%{grid-row:2;
      grid-column:1;}
}

.img8{grid-row:3;
      grid-column:1;}

@keyframes img8{
  0%{grid-row:3;
      grid-column:1;}

  25%{grid-row:4;
      grid-column:1;}

  50%{grid-row:1;
      grid-column:1;}

  75%{grid-row:2;
      grid-column:1;}

  100%{grid-row:3;
      grid-column:1;}
} 

.img9{grid-row:4;
      grid-column:1;}

@keyframes img9{

  0%{grid-row:4;
      grid-column:1;}

  25%{grid-row:1;
      grid-column:1;}

  50%{grid-row:2;
      grid-column:1;}

  75%{grid-row:3;
      grid-column:1;}

  100%{grid-row:4;
      grid-column:1;}
}
/*Position-changing animation in first four photos of sitereport page End*/
}

@media screen and (max-width:609px){

.grid-img3{grid-template-columns:auto;}

.grid-img4{grid-template-columns:auto;}

.img3{width:350px;
      height:230px;}

.img4{width:130px;
      height:90px}

.img5{width:130px;
      height:90px}      
}

@media screen and (max-width:390px){

.img2{width:300px;
      height:200px;}

.img3{width:300px;
      height:200px}

.img4{width:100px;
      height:70px}

.img5{width:100px;
      height:70px}      
} 

@media screen and (max-width:340px){

.report h1{font-size:23px;}

.report h3{font-size:15px;}                 

.report p{font-size:14px;}

.report h2{font-size:20px;}

.img2{width:240px;
      height:180px;}

.img3{width:240px;
      height:180px;}      
}              
/*Responsive Design End*/
/*Sitereport End*/

/*WebKitCoding (2020) Animated Hamburger Menu Bar Using HTML & CSS | CSS Tutorial. YouTube[Online]. 
Available from:https://www.youtube.com/watch?v=EW65Ll_9ioE&t=85s[Accessed 23 JUN 2021].*/

/*Code Brain (2020) Building a resume using only HTML & CSS. YouTube[online].
Available from:https://www.youtube.com/watch?v=y6ONWaTstUU&t=1711s[Accessed 22 May 2021]*/
